body {
    margin: 0%;
}
header {
    font-family: sans-serif;
    background-color: #143f72;
    color: #ffffff;
    text-align:right;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 4%;
}
.Nombre {
    font-size: 50px;
    margin-right: 100px;
}
.Especialidad {
    font-size: 31px;
    font-weight: 10;
    margin-right: 100px;
}
.S3 {
    flex-direction: column;
    margin-right: 5%;
    margin-left: 45%;
    font-family: sans-serif;
}
.F1 {
    list-style-type:unset;
}
.S2 {
    background-color: #376dad;
    flex-direction: column;
    font-family: sans-serif;
    color: #ffffff;
    margin-right: 60%;
    margin-left: 4%;
    margin-top: -1260px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    width: 320px;
}
.Perfil {
    border: #ffffff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
hr {
    padding-left: 1%;
    padding-right: 1%;
    width: 90%;
}
a {
    color: #ffffff;
}
.P1 {
    margin-bottom: 5%;
}
.L1 {
    margin-bottom: 5%;
}
div {
    flex-direction: row;
}